<div class="header">Family Details</div>

<div class="form-group">
	<label for="fullname">Star *</label> <input type="text"
		class="form-control" id="star" name="star"
		placeholder="Enter Nakshatram (required)"  required-field parent-div="page2"
		desc="Star"
		value='<%=locals.user!=undefined? user.star:""%>'>
</div>
<div class="form-group">
	<label for="dob">Gothram *</label> <input type="text"
	    desc="Gothram"
		class="form-control" id="gothram" name="gothram" required-field parent-div="page2"
		value='<%=locals.user!=undefined? user.gothram:""%>'
		placeholder="Gothram (required)">
</div>
<div class="form-group">
	<label for="height">Community</label> 
	<select class="form-control" name="category" value="category">
	   <option value="1">Iyengar</option>
	   <option value="2">Iyer</option>	   
	</select>
	
</div>

<div class="form-group">
	<label for="weight">Sub community</label> <input type="text"
		class="form-control" id="subcom" name="subcategory"
		value='<%=locals.user!=undefined? user.subcat:""%>'
		placeholder="Sub type (optional)">
</div>

<div class="form-group">
	<label for="weight">Father</label> <input type="text"
		class="form-control" id="father" name="father"
		value='<%=locals.user!=undefined? user.father:""%>'
		placeholder="Enter father's name (optional)">
</div>
<div class="form-group">
	<label for="weight">Mother</label> <input type="text"
		class="form-control" id="mother" name="mother"
		value='<%=locals.user!=undefined? user.mother:""%>'
		placeholder="Enter mother's name (optional)">
</div>
 
